<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/neobrutalism.css')}}">
</head>

<body
    style="background-image: url('{{ url_for('static', filename='images/error.jpg')}}'); background-size: 250px; background-repeat: no-repeat; background-position: center;">
    <div class="container" style="text-align: center;">
        <img src="{{ url_for('static', filename='images/glob-dev-exp-logo.png')}}" alt="glo-dev-exp-logo">
        <h1>Web App Project</h1>
        <h2>Sorry, something went wrong. Please try again.</h2>
        <a href="/">Go back to home page</a>
    </div>
</body>

</html>