<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Web App Project</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css')}}">
</head>

<body <div class="container" style="text-align: center;">
    <img src="{{ url_for('static', filename='images/glob-dev-exp-logo.png')}}" alt="glo-dev-exp-logo">
    <h2> Welcome to the Web App Project
    </h2>
    <h2> Select the one of the following options to interact with the data:</h2>
    </div class="btn-groupr">
    <form action="/get_user_data" method="get">
        <button class="brutal-btn" style="color: white;">Get User Data</button>
    </form>
    <br>
    <form action="/add_user_data" method="post">
        <button class="brutal-btn" style="color: white;">Add User Data</button>
    </form>
    </div>
    <div id="data"></div>
</body>

</html>